body {
    
    font-size: 20pt;
margin-right:800px;
margin-left:20px;
text-align: left;
font-family: "lato", sans-serif;
list-style-type: decimal;
padding-right: 4rem;
padding-left: 4rem;
color: #14213b;
text-rendering: ;
}
.sol {
    h1
margin-right:180px;
}
.segundo {
text-align: 
font color: #87AADE;
}
.tercero {
text-align: center;
font color: #87AADE;
}








